/.vs
/simplegame/x64
*.exe
*.ilk
*.pbd
*.obj
*.pch
*.log
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
_BeAnyone/Client/BeAnyone/01 Project/Client/x64/Debug/Client.res
_BeAnyone/Client/BeAnyone/01 Project/Engine/x64/Debug/Engine_debug.lib.recipe
_BeAnyone/Client/BeAnyone/01 Project/Engine/x64/Debug/Engine.vcxproj.FileListAbsolute.txt
_BeAnyone/Client/BeAnyone/01 Project/Engine/x64/Debug/Engine.res
_BeAnyone/Client/BeAnyone/01 Project/Engine/x64/Debug/Engine.pdb
_BeAnyone/Client/BeAnyone/01 Project/Client/x64/Debug/vc142.pdb
